# Node.js
node_modules/
dist/
coverage/

# Environment
.env
.env.*

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VSCode
.vscode/

# System
*.DS_Store
Thumbs.db

# Build
build/

# Docker
.dockerignore

# Others
package-lock.json
yarn.lock
pnpm-lock.yaml

API_GUIDE.md
MIGRATION_TO_MONGOOSE.md
README.md
QUEUE_SYSTEM_GUIDE.md
QUEUE_IMPLEMENTATION_GUIDE.md
QUEUE_SYSTEM_STATUS.md
test-queue.ts